{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}



{% block content %}
  <!-- Catalog -->
  <div class="container py-4">
    <div class="row">
      <!-- Filters Sidebar -->
      <div class="col-lg-3 mb-4 mt-5">
        <div class="card shadow-sm">
          <div class="card-header bg-light">
            <h5 class="mb-0">Фильтры</h5>
          </div>
          <div class="card-body">
            <form action="{% if request.GET.q %}{% url 'goods:search' %}{% endif %}" method="get" id="filter-form">

              {% if request.GET.q %}
                <input type="hidden" name="q" value="{{ request.GET.q }}">
              {% endif %}

              <!-- Сортировка -->
              <div class="mb-4">
                <h6>{{ form.price.label }}</h6>
                {{ form.price }}
              </div>

              <!-- Товары по акции -->
              <div class="mb-4">
                <div class="form-check">
                  {{ form.discount }}
                  <label class="form-check-label" for="{{ form.discount.id_for_label }}">
                    {{ form.discount.label }}
                  </label>
                </div>
              </div>

              <!-- Категории -->
              <div class="mb-4">
                <h6>{{ form.category.label }}</h6>
                {% for choice in form.category %}
                  <div class="form-check">
                    {{ choice.tag }}
                    <label class="form-check-label" for="{{ choice.id_for_label }}">
                      {{ choice.choice_label }}
                    </label>
                  </div>
                {% endfor %}
              </div>

              <!-- Размеры -->
              <div class="mb-4">
                <h6>{{ form.size.label }}</h6>
                {% for choice in form.size %}
                  <div class="form-check">
                    {{ choice.tag }}
                    <label class="form-check-label" for="{{ choice.id_for_label }}">
                      {{ choice.choice_label }}
                    </label>
                  </div>
                {% endfor %}
              </div>


              <!-- Кнопки -->
              <button type="submit" class="btn btn-primary w-100">
                <i class="fas fa-filter me-2"></i>Применить фильтры
              </button>
              <button type="button" class="btn btn-outline-secondary w-100 mt-2" onclick="resetForm()">
                <i class="fas fa-times me-2"></i>Сбросить
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Products Grid -->
      <div class="col-lg-9 mt-5">

        <!-- Products -->
        <div class="row g-4 mt-2" id="products-grid">

          {% for product in products %}
            
              {% include 'goods/components/product_card.html' %}
            
          {% empty %}
            <h3>Ничего не найдено... <i class="bi bi-search"></i></h3>
          {% endfor %}

        </div>

        <!-- Pagination -->
        {% if is_paginated %}
          <div class="pagination mt-5 justify-content-center">
            {% if page_obj.has_previous %}
              <a class="page-link " href="?{% change_params page=page_obj.previous_page_number %}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            {% endif %}

            {% for pages in page_obj.paginator.page_range %}
              {% if page_obj.number != pages %}
                <a class="page-link" href="?page={{ pages }}">{{ pages }}</a>
              {% else %}
                <a class="page-link disabled" href="?page={{ pages }}">{{ pages }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="page-link" href="?{% change_params page=page_obj.next_page_number %}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            {% endif %}
          </div>
        {% endif %}
      

      </div>
    </div>
  </div>
  
{% endblock %}